[package]
name = "ckmeans"
description = "A Rust implementation of Wang and Song's Ckmeans clustering algorithm"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/urschrei/ckmeans"
documentation = "https://docs.rs/ckmeans"
readme = "README.md"
keywords = ["gis", "geo", "spatial", "clustering"]
autobenches = true
rust-version = "1.70"
categories = ["science::geo"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[dev-dependencies]
criterion = "0.5.1"
rand = "0.8.5"

[[bench]]
name = "benchmark"
harness = false
